.container {
    background-color: rgb(99, 97, 128);
    padding-bottom: 20px;
    margin-top: 20px;
    position: center;
    color: white;
}
.btn.btn-primary{
    background-color: rgb(112, 14, 204);
    border-color: rgb(112, 14, 204);
}
#nav{
    background-color: rgb(99, 97, 128) !important;
    margin-bottom: 10px;
}
.bi.bi-pencil-square{
    cursor: pointer;
}
.bi.bi-trash-fill{
    cursor: pointer;
}
#contador{
    margin-left: 20px;
    padding-top: 10px;
}